<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886898346213-c79g4d6e1orlg796477skk9jrl1mmhbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886898346213-c79g4d6e1orlg796477skk9jrl1mmhbp</string>
	<key>API_KEY</key>
	<string>AIzaSyA2nxdm6c9nqN9TncFJmvCdkDyKPzA25EY</string>
	<key>GCM_SENDER_ID</key>
	<string>886898346213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>devibrahimglr.Gender</string>
	<key>PROJECT_ID</key>
	<string>gender-37fb1</string>
	<key>STORAGE_BUCKET</key>
	<string>gender-37fb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886898346213:ios:ff85a877f834193a07ec0c</string>
</dict>
</plist>